* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Just for testing, not implemented */
.menu-container {
    color: yellow;
    padding: 20px;
    background-color: steelblue;
    display: flex;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.section-header {
    font-size: 38pt;
    font-weight: bold;
    color: black;
    text-emphasis: wrap;
}

.section-sub-header {
    font-size: 20pt;
    font-weight: bold;
    color: #3B5395; /* TODO */
    line-height: 1.5;
}

.section-container {
    padding: 30px;
}

.section-sub-container {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    background-color: steelblue;
    border-top: 4px solid #36454f;
    margin-top: auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.footericon {
    height: 100px;
}

.footer-text {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover{
    text-decoration: none;
    color: #b19cd9;
}

p {
    line-height: 1.75;
}

.mockimg {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}